<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Slider</title>
</head>

<body>
    <div id="root" class="container">
        <div class="logo">
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
        </div>
        <div class="input_section">
            <input v-on:keyup.enter="addTask" placeholder="Cosa vuoi fare di bello?" v-model="newTask" type="text">
            <button @click="addTask">Aggiungi</button>
        </div>
        <div class="list">
            <ul v-if="(doListArray.length != 0)">
                <li v-for="(task,index) in doListArray">{{task}} <a @click="removeTask(index)" href="#"><i class="fas fa-times"></i></a></li>
            </ul>
            <h2 v-else>Aggiungi una nuova task e liberati dal caos della giornata!</h2>
        </div>

    </div>
    </div>

    <script src="main.js"></script>
</body>

</html>